#root {

    #screen {

        display: flex ;
        justify-content : center;
        align-items : center;
        width : 100%;
        height : 95vh;
    }
    
    #gameFloor {

        border : blue 1px solid;
        position: relative;
        background-color: black;
    }
    
    .wall {

        border : #3F51B5 7px double;
        box-sizing : border-box;
        border-radius : 2px;
        background-color : black;
        position : absolute;
    }
    
    #pacman {

        border-radius : 25px;
        border : solid 2px black;
        background-color : yellow;
        position : absolute;
    
        .pacMouth {

            background-color : black;
            position : absolute;
            width : 100%;
            height : 100%;
            clip-path : polygon(100% 74%, 44% 48%, 100% 21%);
            animation-name : eat;
            animation-duration : 0.7s;
            animation-iteration-count : infinite;
        }

        @keyframes eat {
          0% {
            clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
          }
          25% {
            clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
          }
          50% {
            clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
          }
          75% {
            clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
          }
          100% {
            clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
          }
        }

    }
    
    .card {

        width : 300px;
        height : 300px;
        border : solid 3px #3F51B5;
        display : flex;
        justify-content : center;
        align-items : center;
        background-color : black;
        z-index : 999;
        position : absolute;
    
        .text {
            
            color : red;
            font-weight : bold;
            font-size : 40px;
        }
    }

  

}
